@model DataBook
@{
    ViewData["Title"] = "MyMVCProject";
}

<div align="center">
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Номер телефона</th>
            <th>Адрес</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td>@Model.Id.ToString()</td>
            <td>@Model.Surname</td>
            <td>@Model.Name</td>
            <td>@Model.MiddleName</td><
            <td>@Model.TelephoneNumber</td>
            <td>@Model.Adress</td>
            <td>@Model.Note</td>
        </tr>
    </table>

    <p>
        <form method="post" asp-controller="DataBook" asp-action="EditDataBook" asp-route-dataBookId=@Model.Id>
            <p><input type="submit" value="Изменить" /></p>
        </form>

        <form method="post" asp-controller="DataBook" asp-action="DeleteDataBook" asp-route-dataBookId=@Model.Id>
            <p><input type="submit" value="Удалить" /></p>
        </form>

        <form method="get">
            <button type="submit" asp-controller="DataBook" asp-action="Index">К общему списку</button>
        </form>
    </p>
</div>